<footer>
  <div class="row">
    <div class="large-4 columns"><label for="mail">INSCRIVEZ-VOUS À LA NEWSLETTER DES MUSÉES !</label></div>
    <div class="large-4 columns"><input type="email" id="mail" placeholder ="E-mail"><input type="submit" class="button" value="OK"></div>
    <div class="large-4 columns"> <a href="">PUBLICATION DES MUSÉES</a> | <a href="">ESPACE PRESSE</a>  </div>

  </div>
  <div class="row">
    <nav class=" footer-nav large-12 columns">
      <a href="">ACCUEIL</a> |
      <a href="">CONTACT</a> |
      <a href="">PLAN DU SITE</a> |
      <a href="">MENTIONS LÉGALES</a>
    </nav>
</div>
</footer>
