<section class="gallery">
  <div class="row large-up-3 medium-up-2 small-up-1">
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>AUBETTE 1928</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>CABINET DES ESTAMPES & DES DESSINS</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE ALSACIEN</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE ARCHÉOLOGIQUE</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE DES ARTS DÉCORATIFS</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE D'ART MODERNE & CONTEMPORAIN</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE DES BEAUX-ARTS</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE HISTORIQUE</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE DE L'OEUVRE-NOTRE-DAME</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE TOMI UNGERER</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x230"><figcaption>MUSÉE ZOOLOGIQUE</figcaption></a></figure>
  </div>
</section>
