.gallery {
  padding-bottom:130px;
  figure {
    margin:0;
    position:relative;
    margin-bottom:30px;


    img {
      width:100%;

    }

    img:hover {
      opacity:0.2;
    }

    a { /* POUR LE HOVER*/
          display:block;
          background:#e98369;
        }

    figcaption {
      position:absolute;
      bottom:15px;
      left:35px;
    }
  }
}
