


h2 {
  font-size:36px;
  line-height:40px;
  font-family: 'Open Sans', sans-serif;
  color:black;

}

h3 {
  font-size:21px;
  line-height:25px;
  font-family: 'Open Sans', sans-serif;
  color:black;
}


figcaption {
  font-size:21px;
  color:white


}
